
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.container{
  max-width: 1140px;
  margin: auto;
}
 
/* nav style */
nav ul li {
  list-style: none;
}
nav ul li a{
  text-decoration: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  /* margin: 0 150px; */
  align-items: center;
  
}
.flex{
  display: flex;
}
.nav_link{
  display: flex;
  gap: 30px;
}
.nav-link{
  display: flex;
  gap: 20px;
}
.Ag-text{
  font-weight: 800;
  color: #252432;
}
.text2{
  color: #8987A1;
}
/* banner style */
.Hero-banner{
  margin-top: 120px;
}
.banner_left{
  max-width: 570px;

}
.banner_left h3{
  line-height: 0.4;
}
.title_text_color{
  color:  #E95A08;
}
.banner_left_title{
  font-weight: bold;
  font-size: 2rem;
}
.banner_left_description{
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: -15px;
}
.banner_right img{
max-width: 100%;
height: auto;
object-fit: cover;


}
/* media responsive */
@media screen and (max-width:768px) {
  .nav-link{
    display: none;
  }
  .Hero-banner{
    flex-direction: column-reverse;
    
  }
}
/* plants style */

.plants_up{
  
  text-align: center;
  
}
.plants_title{
  
  font-size: 3.12rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

}
.plants_sub_title{
  max-width: 888px;
  margin: 0 auto;
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  
  
  
}
.plants_card{
  
  line-height: 0.7;
  max-width: 270px;
  
}
.card_name,.card_price{
  display: flex;
  justify-content: center;
}

.card_name {
  font-size: 1.37rem;
  color:#111111 ;
  
}
.card_price{
  font-size: 1rem;
  color:#111111
}


.card_price{
  max-width: 270px;
  height: 48px;

}
.btn_primary{
  padding: 15px 12px 12px;
  
   width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background-color: #E95A08;
  
  
}
.button{
margin-top: -30px;
}
.card{
  margin-top: 49px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 30px;
}
/* media responsive */
@media screen and (max-width:768px) {
  .card{
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .card img{
    max-width: 180px;
  }
 .plants_sub_title{
  max-width: 1000px;
  
 
}
  
}
.Plants_Lover{
  margin-top: 210.12px;
  display: flex;
  gap: 20px;
}
.plants_lover_left_image{
  max-width: 540px;
  height: 550px;
}
.trusted_badge{
  position: absolute;
  top: 1850px;
  left: 800px;
  max-width: 286px;
}
.plants_lover_right{
  max-width: 540px;
  height: 100%;
  
}

.plants_lover_right h3{
  
  margin-left: 15px;
  font-size: 4.12rem ;
  font-weight: 800;
  color: #000000;
  margin-bottom: 15px;
}
.plants_lover_right li{
  margin-bottom:20px;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width:768px) {
  
  .trusted_badge{
    display: none;
  }.Plants_Lover{
    flex-direction: column;
  }
  .plants_lover_left_image{
    max-width: 100%;
   
  }
  .plants_lover_right h3{
  
  font-size: 2.2rem ;
  
}
.plants_lover_right li{
 font-size: 1rem;
}
  
 
}
.join_title {
  font-size: 3.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}
.join_description{
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.join_card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.join_left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}


.top_title {
  font-size: 20px;
  margin-bottom: 10px;
}

/* .link {
  color: green;
  text-decoration: underline;
} */

.top{
  background-image: url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 200px;
  min-height:50px;
  
  background-position: center;
  text-align: center;
  
  padding: 100px 49px 48px 65px;
  margin-bottom: 10px;
  border-radius: 14px;
  margin-bottom: 10px;
  
  
  
}
.down{
  background-image: url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 200px;
  min-height:50px;
  
  background-position: center;
  text-align: center;
  
  padding: 100px 49px 48px 65px;
  margin-bottom: 10px;
  border-radius: 14px;
  
  
}
.side{
  background-image: url(../assets/deal-zabo.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height:100%;
  
  background-position: center;
  text-align: center;
  padding: 300px -30px 50px 300px;
  margin-bottom: 10px;
  border-radius: 14px;
  padding-top:150px;

}
.join_left_text {
  font-size: 2.5rem;
  font-weight: 800;
  color: #FFFFFF;
}
.join_left_link {
  font-size: 1rem;
  color: #FFFFFF;

}
.join_right_text {
  font-size: 4rem;
  font-weight: 800;
  color: #FFFFFF;
}
.join_right_link {
  font-size: 1.5rem;
  color: #FFFFFF;

}
@media (max-width: 768px) {
  .join_title {
    font-size: 2rem;
  }

  .join_description {
    font-size: 1rem;
  }

  .join_right_text {
    font-size: 2rem;
  }

  .join_left_text {
    font-size: 1.5rem;
  }

  .top, .down {
    max-width: 100%;
    padding: 60px 30px 30px 30px;
  }

  .side {
    padding: 120px 20px 20px 20px;
  }

  .join_left {
    grid-template-rows: auto;
    gap: 10px;
  }

  .join_left_link,
  .join_right_link {
    font-size: 0.9rem;
  }
  .join_card {
  
  grid-template-columns: repeat(1,1fr);
}
.side{
 width: 100%;
 height: 150px;

}


}
.join_section {
  max-width: 1440px;
  min-height: 533px;
  margin: 0 auto;
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
  text-align: center;
  
}

.join_section h3 {
  font-size: 3.12rem;
  font-weight: 800;
  color: #FFFFFF;
  margin: 220px 200px 50px;
  
}

.join_form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0; 
 
}

.email {
  width: 100%;
  max-width: 644px;
  height: 50px;
  padding: 0 8px 0 20px;
  font-size: 1rem;
  
}

.btn_primary {
  max-width: 186px;
  height: 50px;
  font-size: 1rem;
  background-color: #E95A08;
  color: white;
  
}


