
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* share color */
.bg_color{
  background-color: #e9e8ee;
}
* {
  box-sizing: border-box;
}

.container{
  max-width: 1140px;
  margin: auto;
}
 
/* nav style */
nav ul li {
  list-style: none;
}
nav ul li a{
  text-decoration: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  /* margin: 0 150px; */
  align-items: center;
  
}
.flex{
  display: flex;
}
.nav_link{
  display: flex;
  gap: 30px;
}
.nav-link{
  display: flex;
  gap: 20px;
}
.Ag-text{
  font-weight: 800;
  color: #252432;
}
.text2{
  color: #8987A1;
}
/* banner style */
.Hero-banner{
  margin-top: 120px;
  display: flex;
  justify-content: end;
}
.banner_left{
  max-width: 570px;
  
  
 

}
.banner_left h3{
  line-height: 0.4;
  margin-bottom: 40px;
}
.title_text_color{
  color:  #E95A08;
}
.banner_left_title{
  font-weight: bold;
  font-size: 2rem;
  object-fit: cover;
}
.banner_left_description{
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: -15px;
}
.banner_right img{
max-width: 100%;
height: auto;
object-fit: cover;


}
/* media responsive */
@media screen and (max-width:768px) {
  .nav-link{
    display: none;
  }
  .Hero-banner{
    flex-direction: column-reverse;
    
  }
}
/* plants style */

.plants_up{
  
  text-align: center;
  
}
.plants_title{
  
  font-size: 3.12rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

}
.plants_sub_title{
  max-width: 888px;
  margin: 0 auto;
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  
  
  
}
.plants_card{
  
  line-height: 0.7;
  max-width: 270px;
  
}
.card_name,.card_price{
  display: flex;
  justify-content: center;
}

.card_name {
  font-size: 1.37rem;
  color:#111111 ;
  
}
.card_price{
  font-size: 1rem;
  color:#111111
}


.card_price{
  max-width: 270px;
  height: 48px;

}
.btn_primary{
  padding: 15px 12px 12px;
  
   width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background-color: #E95A08;
  
  
}
.button{
margin-top: -30px;
}
.card{
  margin-top: 49px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 35px;
}
/* media responsive */
@media screen and (max-width:768px) {
  .card{
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .card img{
    max-width: 180px;
  }
 .plants_sub_title{
  max-width: 1000px;
  
 
}
  
}
.plants_lover{
  margin-top: 210.12px;
  display: flex;
  gap: 20px;
}

.plants_lover_left {
  max-width: 540px;
  height: 550px;
}

.bedge {
  position: relative;  /* This makes absolutely positioned children relative to .bedge */
  width: 100%;
  height: 100%;
}

.plants_lover_left_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.trusted_badge {
  position: absolute;
  top: -80px;    
  right:-40px; 
  
  width: 200px;
  height: 200px;
  box-shadow: -4px 10px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
}



.plants_lover_right{
  max-width: 540px;
  height: 100%;
  
}

.plants_lover_right h3{
  
  margin-left: 15px;
  font-size: 4.12rem ;
  font-weight: 800;
  color: #000000;
  margin-bottom: 5px;
}
.plants_lover_right li{
  margin-bottom:10px;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width:768px) {
  .plants_lover{
    margin-top: -150px;
  }
  
  .trusted_badge{
    display: none;
  }.plants_lover{
    flex-direction: column;
    margin-top: 50px;
  }
  .plants_lover_left_image{
    max-width: 100%;
   
  }
  .plants_lover_right h3{
  
  font-size:1.8rem ;
  
}
.plants_lover_right li{
 font-size: 1rem;
}
  
 
}
.join_title {
  font-size: 3.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}
.join_description{
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.join_card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.join_left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}


.top_title {
  font-size: 20px;
  margin-bottom: 10px;
}



.top{
  background-image: linear-gradient(rgba(53, 16, 16, 0.765), rgba(37, 11, 11, 0.9)),url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 300px;
  min-height:50px;
  
  background-position: center;
  text-align: center;
  
  padding: 100px 49px 48px 65px;
  margin-bottom: 10px;
  border-radius: 14px;
  margin-bottom: 10px;
  
  
  
}
.down{
  background-image:linear-gradient(rgba(53, 16, 16, 0.765), rgba(37, 11, 11, 0.9)), url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 300px;
  min-height:50px;
  
  background-position: center;
  text-align: center;
  
  padding: 100px 49px 48px 65px;
  margin-bottom: 10px;
  border-radius: 14px;
  
  
}

 .side {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../assets/deal-zabo.png);

  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  background-position: center;
  text-align: center;
  padding: 200px 80px  200px; 
  margin-bottom: 10px;
  border-radius: 14px;
}

.join_left_text {
  font-size: 2.5rem;
  font-weight: 800;
  color: #FFFFFF;
}
.join_left_link {
  font-size: 1rem;
  color: #FFFFFF;

}
.join_right_text {
  font-size: 2rem;
  font-weight: 800;
  color: #FFFFFF;
}
.join_right_link {
  font-size: 1.5rem;
  color: #FFFFFF;

}
@media screen and (max-width: 768px) {
  .join_title {
    font-size: 2rem;
  }

  .join_description {
    font-size: 1rem;
  }

  .join_right_text {
    font-size: 0.9rem;
  }

  .join_left_text {
    font-size: 1.5rem;
  }

  .top, .down {
    max-width: 100%;
    padding: 60px 30px 30px 30px;
  }

  .side {
   
  max-width: 330px;
  min-height:100px;
  text-align: center;
  padding: 30px 50px 30px;
  margin-bottom: 10px;
  border-radius: 14px;
  }

  .join_left {
    grid-template-rows: auto;
    gap: 10px;
  }

  .join_left_link,
  .join_right_link {
    font-size: 0.9rem;
  }
  .join_card {
  
  grid-template-columns: repeat(1,1fr);
}
.side{
 width: 100%;
 height: 150px;

}


}
.join_section {
  max-width: 100%;
  height: 533px;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 16px;
}

.join_section h3 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 30px;
}


.join_form {
  display: flex;
  gap: 0px;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.email {
  width: 644px;  
  flex-shrink: 0;
  height: 50px;
  padding: 0  0;
  font-size: 1rem;
  background: #fff;
  border: 1px solid #ccc;
}

.btn_primary {
  height: 50px;
  /* padding: 0 18px; */
  padding: 0 10px;
  font-size: 1rem;
  background-color: #E95A08;
  color: white;
  /* border: none;
  cursor: pointer; */
}
/* RESPONSIVE */
@media screen and  (max-width: 768px) {
  .join_form {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
  }

  .email {
    max-width: 200px;
    height: 45px;
    font-size: 0.9rem;
    padding: 0 10px;
  }

  .btn_primary {
    height: 45px;
    font-size: 0.9rem;
    padding: 0 16px;
    
  }
  .join_section{
    width: 320px;
    height: 342px;
  }
  .join_section h3 {
  font-size: 1.5rem;
  
}
}
.footer_container{
  max-width: 1440px;
  height: 323px;
  margin: 0 auto;
  position: relative;
  margin-top: 20px
}
.footer_left{
  margin-left: 160px;
}
.footer_left p{
  
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 350px;
}
.middle{
  display: grid;
  justify-content: center;
  position: absolute;
  left: 600px;
  top: -1px;
  gap:50px;
  
  
  
}
.middle li {
  list-style: none;
  
  
}
.middle li a{
  text-decoration: none;
  color: #6B7280;
  
}
.middle_right{
  display: grid;
  justify-content: center;
  position: absolute;
  left: 900px;
  top: -1px;
  gap:50px;
}
.middle_right li {
  list-style: none;
  
}
.middle_right li a{
  text-decoration: none;
  color: #6B7280;
  
}
.icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  left: 1200px;
  top: -1px;
  gap: 25px;
}
.twitter_icon{
  width: 30px;
  height: 30px;
}
@media screen and  (max-width: 768px){
   .footer_container {
    max-width: 100%; 
    height: 800px;
    padding: 0 15px; 
  }
  
  .middle {
    left: 8%;               
    transform: translateX(-40);
    top: 220px;
    gap: 30px;               
  }
  .middle_right{
    left: 8%;               
    transform: translateX(-40);
    top: 450px;
    gap: 30px; 
  }
  .icon{

  left: 8%;               
    transform: translateX(40);
    top: 700px;
    gap: 30px; 
  
  
}
.footer_left{
  margin-left: 8px;
}
}


