
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.container{
  max-width: 1140px;
  margin: auto;
}
 
/* nav style */
nav ul li {
  list-style: none;
}
nav ul li a{
  text-decoration: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  /* margin: 0 150px; */
  align-items: center;
  
}
.flex{
  display: flex;
}
.nav_link{
  display: flex;
  gap: 30px;
}
.nav-link{
  display: flex;
  gap: 20px;
}
.Ag-text{
  font-weight: 800;
  color: #252432;
}
.text2{
  color: #8987A1;
}
/* banner style */
.Hero-banner{
  margin-top: 120px;
}
.banner_left{
  max-width: 570px;

}
.banner_left h3{
  line-height: 0.4;
}
.title_text_color{
  color:  #E95A08;
}
.banner_left_title{
  font-weight: bold;
  font-size: 2rem;
}
.banner_left_description{
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: -15px;
}
.banner_right img{
max-width: 100%;
height: auto;
object-fit: cover;


}
/* media responsive */
@media screen and (max-width:768px) {
  .nav-link{
    display: none;
  }
  .Hero-banner{
    flex-direction: column-reverse;
    
  }
}
/* plants style */

.plants_up{
  
  text-align: center;
  
}
.plants_title{
  
  font-size: 3.12rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

}
.plants_sub_title{
  max-width: 888px;
  margin: 0 auto;
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  
  
  
}
.plants_card{
  
  line-height: 0.7;
  max-width: 270px;
  
  
 
  
  
}

.card_name, {
  font-size: 1.37rem;
  color:#111111 ;
  
}
.card_price{
  font-size: 1rem;
  color:#111111
}


.card_price{
  max-width: 270px;
  height: 48px;

}
.btn_primary{
  padding: 15px 12px 12px;
  
   width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background-color: #E95A08;
  
  
}
.button{
margin-top: -30px;
}
.card{
  margin-top: 49px;
  display: grid;
  grid-template-columns: repeat(4,4fr);
  row-gap: 30px;
}
/* media responsive */
@media screen and (max-width:768px) {
  .card{
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  .card img{
    max-width: 180px;
  }
 plants_sub_title{
  max-width: 1000px;
  
 
}
  
}

